<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Data Loader</title>
  </head>
  <body>
    <h1>Data-Import (for experts)</h1>
    <ul>
        <li><a href="/bundesliga">Bundesliga</a></li>
        <li><a href="/wetter">Wetter</a></li>
        <li><a href="/chinook">Chinook</a></li>
        <li><a href="/census">Census</a></li>
        <li>
            <a href="/energy_clear">Energy clear</a>&nbsp;
            <a href="/energy_prices">Import Day Ahead Prices</a>&nbsp;
            <a href="/energy_renewables">Import Rebewable Power Plants</a>
        </li>
        <li><a href="/dwh">Data Warehouse</a></li>
        <li><a href="/movies_import">Import Movies</a></li>
        <li><a href="/movies_update_embeddings">Create Embeddings for Movies</a></li>
    </ul>
    <h1>Test</h1>
    <ul>
        <li><a href="/movies_search">Search for movies</a></li>
    </ul>
  </body>
</html>