@{
  Layout = "Layout";
  ViewData["Title"] = "Home";
}

</ul>
      <li><a href="/Home/WithCaching">Load with Caching</a></li>
      <li><a href="/Home/WithoutCaching">Load without Caching</a></li>
</ul>
